h1
{
    color:red;
    background-color: black
}     
h2
{
    color:brown;
}
h3
{
    color:cornflowerblue;
}
p
{
    color:black;
    font-size:18px
}
body
{
    background-color:papayawhip;
}
ul{
    font-size:18px
}
code
{
    font-size:15px;
}
.para1{
    padding-left: 30px;
}
.code{
    width: 160px;
  height: 200px;
  padding: 20px;
  border: 1px solid red;
  background:white;
}